@import "../normalize.css";
@import "../../images/iconmon/style.css";
/* body */
body{
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
    
    
    overflow-x: hidden;
    min-width: 280px;

    height: 100vh;
    transform-style: preserve-3d;
}

a{
    display: inline-block;
}

/* header-> */
.header{
    background-color: #262121;
}

.header-container{
    max-width: 1240px;
    
    margin-left: auto;
    margin-right: auto;

    height: 150px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    padding: 0px 50px 0px 10px;
}

.header-brand-logo{
    max-height: 80px;
}


.header-navbar-link{
    text-decoration: none;
    color: #E6E6E6;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    
    display: inline-block;
    transition: all 100ms ease-in-out;

}


.header-navbar-link:hover{
    color: #9C9C9C;
}

.header-navbar-tel-img{
    height: 30px;

}
.header-navbar-gram-img{
    height: 30px;
}
/* <-header */

/* main-> */

/* main-title */
/* background1 */
.main-title{
    background-image: url(../../images/backgroung.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    position: relative;
}
.main-title::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    background-image: linear-gradient(180deg, #262121 5.98%, rgba(45, 52, 60, 0.58) 51.04%, #262121 92.19%);
}

.main-title-container{
    position: relative;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}
/* background1 */

.main-title-title{
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
    line-height: 150%;
    text-align: center;   
}


.main-title{
    min-height: 90vh;
}

.main-title-logo-img{
    max-width: 90%;
    
}

.main-title-container{
    text-align: center;
    padding-top: 30vh;
}

.main-content{
    background-color: #262121;
    display: flex;

}

.main-content-container{
    width: 1240px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: #b9b9b9;
}
/* main-title */




/* catalog */
.main-catalog-title{
    margin-bottom: 120px;
    text-align: center;
    color: #ffffff;
}
.main-catalog-text{
    margin-bottom: 120px;
    text-align: center;
    color: #ffffff;
}
.main-catalog-item{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 100px;
}
.main-catalog-item-png{
    max-height: 200px;
}

.main-catalog-text{
    text-align: center;
}
/* catalog */

/* botton */
/* background1 */
.main-botton{
    background-image: url(../../images/background2.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    position: relative;
}
.main-botton::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    background-image: linear-gradient(180deg, #262121 5.98%, rgba(45, 52, 60, 0.58) 51.04%, #262121 92.19%);
}

.main-botton-container{
    position: relative;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    height: 50vh;

    
}
/* background1 */

.main-botton-container{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 30vh;
    max-width: 90%;
}

.main-botton-container-in{
    
}
.main-botton-container-link{
    
}
.main-botton-link{
    text-decoration: none;
    color: #E6E6E6;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
   
    
    display: flex;
    background-color: #262121;
    padding: 20px 25px;
    margin-bottom: 30px;
    border-radius: 40px;

    transition: all 100ms ease-in-out;
        
}

.main-botton-link:hover{
    background-color: #1d1919;
    transform: scale(1.05);
    box-shadow: 0 5px 5px rgba(5, 5, 5, 0.788);
}
.main-botton-container-link{
 
}
.btn-text{
    margin-left: 40px;
}


/* botton */

/* main-price */

.main-price-title {
    color: #E6E6E6;
}
.main-price{
    margin-bottom: 100px;
}
.main-about-title{
    color: #E6E6E6;
}

/* main-price */
/* <-main */
/* footer-> */
.footer{
    background-color: #262121;
}
.footer-container{
    width: 1240px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    height: 150px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    
}

/* <-footer */


@media (max-width: 840px) {
    .main-title-title{
        font-size: 30px;
    }
}

@media (max-width: 750px) {
    .main-title-title{
        font-size: 28px;
    }
}

@media (max-width: 671px) {
    .main-title-title{
        font-size: 26px;
    }
    
    
    .main-botton-link{
        font-size: 18px;
    }
    .btn-text{
        margin-left: 15px;
    }


    body{
        font-size: 18px;
    }
}

@media (max-width: 505px) {
    
    
    .main-botton-link{
        font-size: 16px;
        
        padding: 20px 25px;
        margin-bottom: 30px;
        border-radius: 40px;
    }
    .btn-text{
        margin-left: 10px;
    }
}

@media (max-width: 455px) {
    .main-title-title{
        font-size: 20px;
    }
    
    
    .main-botton-link{
        font-size: 14px;
        
        padding: 20px 15px;
        margin-bottom: 30px;
        border-radius: 40px;
    }
    .btn-text{
        margin-left: 10px;
    }


    body{
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .main-title-title{
        font-size: 22px;
    }
    
    
    .main-botton-link{
        font-size: 12px;
        
        padding: 20px 15px;
        margin-bottom: 30px;
        border-radius: 40px;
    }
    .btn-text{
        margin-left: 10px;
    }
}
